body {
  margin: 0;
  padding: 0;
  background-color: #242424;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

main {
  column-count: 3;
  column-gap: 20px;
  padding: 20px;
  width: 100vw;
  box-sizing: border-box;
}

article {
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid #555;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

h3 {
  margin: 0 0 10px 0;
  text-align: center;
  color: #f49a73;
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0.8em;
  line-height: 1.4em;
  flex-grow: 1;
}

li {
  padding: 4px;
  font-size: 0.8em;
  border-left: 3px solid #f49a73;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

kbd,
code {
  background-color: #555;
  color: #f49a73;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 0.8em;
  white-space: normal;
}

kbd {
  font-weight: bold;
}

.toggle-icon {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #f49a73;
  font-size: 30px;
  cursor: pointer;
  z-index: 200;
}

.toggle-icon:hover {
  color: #777;
}

.color-settings {
  display: none;
  position: absolute;
  bottom: 60px;
  right: 20px;
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #555;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  width: 200px;
  z-index: 100;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #f49a73;
  font-size: 18px;
  cursor: pointer;
}

.close-icon:hover {
  color: #777;
}

#resetColors {
  margin-top: 10px;
  background-color: #555;
  color: #f49a73;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

#resetColors:hover {
  background-color: #777;
}

@media (max-width: 1024px) {
  main {
    column-count: 2;
  }
}

@media (max-width: 768px) {
  main {
    column-count: 1;
  }
}
